@import url('https://fonts.googleapis.com/css2?family=Muli:ital,wght@0,200;0,300;0,400;0,577;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,577;1,600;1,700;1,800;1,900&display=swap');

@import url("plugins/owl.carousel.min.css");
@import url("plugins/owl.theme.default.min.css");
@import url("plugins/default.css");


body {
    overflow-x: hidden;
}
*{
    margin:0;
    padding:0;
    box-sizing:border-box
}
a {
  text-decoration: none;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
a:hover, a:focus {
  text-decoration: none;
  outline: none;
}
a,a:active,a:focus{
    color:#6f6f6f;
    text-decoration:none;
    transition-timing-function:ease-in-out;
    -ms-transition-timing-function:ease-in-out;
    -moz-transition-timing-function:ease-in-out;
    -webkit-transition-timing-function:ease-in-out;
    -o-transition-timing-function:ease-in-out;
    transition-duration:.2s;
    -ms-transition-duration:.2s;
    -moz-transition-duration:.2s;
    -webkit-transition-duration:.2s;
    -o-transition-duration:.2s
}
a:hover,a:active{
    color:#232323;
    text-decoration:none
}
a:focus,a:active,button:focus,button:active,.btn.active.focus,.btn.active:focus,.btn.focus,.btn:active.focus,.btn:active:focus,.btn:focus{
    outline:none
}
img{
    max-width:100%;
    height:auto
}
input,textarea,select{
    border:1px solid #d1d1d1;
    font-size:14px;
    padding:8px 15px;
    width:100%;
    margin:0 0 15px 0;
    max-width:100%;
    resize:none
}
input[type="button"],input[type="text"],input[type="email"],input[type="search"],input[type="password"],textarea,input[type="submit"]{
    -webkit-appearance:none;
    outline:none
}
input:focus,textarea:focus{
    border-color:#585858;
    outline:none
}
input[type="button"]:focus{
    outline:none
}
select::-ms-expand{
    display:none
}
iframe{
    border:0
}
p{
    margin:0 0 20px;
    color: #000000bd;
}
b,strong{
    font-weight:600
}
body {
  line-height: 24px;
  font-size: 14px;
  font-weight: normal;
  color: #777777;
}

h1, h2, h4, h6 {
  font-weight: 500;
}
h3{
    font-family: 'Muli', sans-serif;
    font-weight: 300;
    color: #fff;
}
h5{
    font-weight: 500 !important;
    color: #006fb8 !important;
    font-size: 31px !important;
}
ul,ol,dl{
    list-style-position:outside
}
ul li{
    list-style:none
}
::selection{
    color:#000;
    background:#dbdbdb
}
::-moz-selection{
    color:#000;
    background:#dbdbdb
}
::-webkit-input-placeholder{
    color:#6f6f6f;
    text-overflow:ellipsis
}
::-moz-placeholder{
    color:#6f6f6f;
    text-overflow:ellipsis;
    opacity:1
}
:-ms-input-placeholder{
    color:#6f6f6f;
    text-overflow:ellipsis;
    opacity:1
}
button:focus {
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.row.m0 {
  margin: 0px;
}

@media (min-width: 1200px) {
  .container {
    max-width: 1170px;
  }
}

@media (min-width: 1620px) {
  .box_1620 {
    max-width: 1650px;
    margin: auto;
  }
}

.main_box {
  max-width: 1200px;
  margin: auto;
  background: #fff;
}
.text-center{
  text-align: center !important;
}
.text-white-blur{
    color: #ffffffcf !important;
}
.bg-light-grey{
  background-color: #fbfbfb !important;
}
.bg-light-grey2{
  background-color: #fcfcfc !important;
}
.bg-black{
  background-color: #110703;
}
.ml-25{
  margin-left: 25px;
}
.mt-100{
  margin-top: -100px;
}
.mb-100{
  margin-bottom: 100px;
}
.h-100px{
  height: 100px !important;
}
.h-112px{
  height: 112px !important;
}
.float-left{
  float: left;
}
 /*
 --------------------------*\
    Preloader                
\*------------------------------------*/

#preloader {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background-color: #FFF;
    z-index: 99999;
}

.preloader {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    -webkit-animation: preload-rotate 10s linear infinite;
            animation: preload-rotate 10s linear infinite;
}
.preloader span {
    display: inline-block;
    width: 30px;
    height: 30px;
    background-color: #006fb8;
    position: absolute;
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
}

.preloader span:nth-child(1) {
    top: 0;
    left: 0;
    -webkit-animation: 1s preload-scale ease-in-out infinite;
            animation: 1s preload-scale ease-in-out infinite;
}
.preloader span:nth-child(2) {
    top: 0;
    right: 0;
    -webkit-animation: 1s preload-scale 0.06s ease-in-out infinite;
            animation: 1s preload-scale 0.06s ease-in-out infinite;
}
.preloader span:nth-child(3) {
    bottom: 0;
    -webkit-animation: 1s preload-scale 0.11s ease-in-out infinite;
            animation: 1s preload-scale 0.11s ease-in-out infinite;
}
.preloader span:nth-child(4) {
    bottom: 0;
    right: 0;
    -webkit-animation: 1s preload-scale 0.17s ease-in-out infinite;
            animation: 1s preload-scale 0.17s ease-in-out infinite;
}

@-webkit-keyframes preload-rotate {
    0% {
        -webkit-transform:translate(-50%, -50%) rotate(0deg);
                transform:translate(-50%, -50%) rotate(0deg);
    }
    100% {
        -webkit-transform:translate(-50%, -50%) rotate(360deg);
                transform:translate(-50%, -50%) rotate(360deg);
    }
}

@keyframes preload-rotate {
    0% {
        -webkit-transform:translate(-50%, -50%) rotate(0deg);
                transform:translate(-50%, -50%) rotate(0deg);
    }
    100% {
        -webkit-transform:translate(-50%, -50%) rotate(360deg);
                transform:translate(-50%, -50%) rotate(360deg);
    }
}

@-webkit-keyframes preload-scale {
    0% {
        -webkit-transform: scale(0);
                transform: scale(0);
    }
    40% {
        -webkit-transform: scale(1);
                transform: scale(1);
    }
    80% {
        -webkit-transform: scale(0);
                transform: scale(0);
    }
    100% {
        -webkit-transform: scale(0);
                transform: scale(0);
    }
}

@keyframes preload-scale {
    0% {
        -webkit-transform: scale(0);
                transform: scale(0);
    }
    40% {
        -webkit-transform: scale(1);
                transform: scale(1);
    }
    80% {
        -webkit-transform: scale(0);
                transform: scale(0);
    }
    100% {
        -webkit-transform: scale(0);
                transform: scale(0);
    }
}

/*------------------------------------*\
    Button
\*------------------------------------*/
.btn{
    display:inline-block;
    font-size:14px;
    padding:9px 22px;
    background:transparent;
    border:2px solid #006fb8;
    border-radius:10px;
    box-shadow:rgba(0,0,0,0.1) 0px 2px 1px !important;
    color:#006fb8;
    letter-spacing:.5px;
    line-height:inherit;
    min-width:150px;
    transition-duration:0.3s;
    transition-timing-function:ease-in-out
}
.btn:hover,.btn:active{
    background:#006fb8;
    color:#fff;
    border-color:#006fb8;
    box-shadow:rgba(0,0,0,0.3) 0px 3px 8px !important
}
.btn:focus{
    background:#006fb8;
    color:#fff;
    box-shadow:rgba(0,0,0,0.3) 0px 3px 8px !important;
    border-color:#006fb8
}
.btn.theme{
    background:#006fb8;
    border:2px solid #006fb8;
    box-shadow:rgba(0,0,0,0.1) 0px 2px 1px !important;
    color:#fff;
    min-width:170px
}
.btn.theme:hover,.btn.theme:active{
    background:transparent;
    color:#006fb8;
    border-color:#006fb8
}
.btn.theme:hover span,.btn.theme:active span{
    color:#fff
}
.btn.theme:focus{
    background:#transparent;
    color:#006fb8;
    border-color:#006fb8
}
.btn.book-now{
    background:#006fb8;
    border:2px solid #006fb8;
    box-shadow:rgba(0,0,0,0.1) 0px 2px 1px !important;
    color:#fff;
    min-width:200px
}
.btn.book-now .cnt{
    -moz-transition:0s all ease-in-out !important;
    -o-transition:0s all ease-in-out !important;
    -webkit-transition:0s all ease-in-out !important;
    transition:0s all ease-in-out !important
}
.btn.book-now:hover,.btn.book-now:active,.btn.book-now:focus{
    background:transparent;
    color:#eb3007;
    border-color:#eb3007
}

@media screen and (max-width: 1199px){
    .btn{
        min-width:140px;
        font-size:13px;
        padding:8px 20px
    }
    .btn.theme{
        min-width:160px
    }
}
@media screen and (max-width: 991px){
    .btn{
        min-width:130px;
        font-size:13px;
        padding:7px 19px
    }
    .btn.theme{
        min-width:140px
    }
}
@media screen and (max-width: 767px){
    .btn{
        min-width:125px;
        font-size:12px;
        padding:4px 16px
    }
    .btn.theme{
        min-width:130px
    }
}
.bnt-2{
  background-color: white;
    padding: 15px 33px 15px 33px;
    width: fit-content;
    color: #006fb8;
    margin: 22px auto;
    border-radius: 10px;
    font-weight: 500;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}
.bnt-2:hover{
    background-color: #006fb8;
    color: white;
    transition: all 0.5s ease 0s;
}

.bnt-3{
  background-color: #006fb8;
    padding: 15px 33px 15px 33px;
    width: fit-content;
    color: white;
    border-radius: 10px;
    font-weight: 500;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}
.bnt-3:hover{
    background-color: white;
    color: #006fb8;
    transition: all 0.5s ease 0s;
}
.btn-header{
    padding: 6px 13px 6px 13px;
    margin-left: 25px;
    width: max-content;
    background-color: #f4c852;
    font-size: 12px;
    color: white;
    border-radius: 7px;
    transition: all 0.5s ease 0s;
}
.btn-header:hover{
   background-color: white;
   color: black !important;
   transition: all 0.5s ease 0s;
}
/*------------------------------------*\
    Header Menu Area
\*------------------------------------*/
.top-bar{
  border-right: 1px solid white;
}
.header_area {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 99;
  -webkit-transition: background 0.4s, all 0.3s linear;
  -o-transition: background 0.4s, all 0.3s linear;
  transition: background 0.4s, all 0.3s linear;
}

.header_area .navbar {
  background: none;
  padding: 0px;
  border: 0px;
  border-radius: 0px;
}

.header_area .navbar .nav .nav-item {
  margin-right: 35px;
}

.header_area .navbar .nav .nav-item .nav-link {
  font-size: 13px;
  color: #fff;
  padding: 0px;
  display: inline-block;
}

.header_area .navbar .nav .nav-item .nav-link:after {
  display: none;
}

.header_area .navbar .nav .nav-item:hover .nav-link, .header_area .navbar .nav .nav-item.active .nav-link {
  border-bottom: 2px solid #006fb8;
}

.header_area .navbar .nav .nav-item.submenu {
  position: relative;
}

.header_area .navbar .nav .nav-item.submenu ul {
  border: none;
  padding: 0px;
  border-radius: 0px;
  -webkit-box-shadow: none;
  box-shadow: none;
  margin: 0px;
  background: #fff;
}

@media (min-width: 992px) {
  .header_area .navbar .nav .nav-item.submenu ul {
    position: absolute;
    top: 120%;
    left: 0px;
    min-width: 200px;
    text-align: left;
    opacity: 0;
    -webkit-transition: all 300ms ease-in;
    -o-transition: all 300ms ease-in;
    transition: all 300ms ease-in;
    visibility: hidden;
    display: block;
    border: none;
    padding: 0px;
    border-radius: 0px;
  }
}

.header_area .navbar .nav .nav-item.submenu ul:before {
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 10px 0 10px;
  border-color: #eeeeee transparent transparent transparent;
  position: absolute;
  right: 24px;
  top: 45px;
  z-index: 3;
  opacity: 0;
  -webkit-transition: all 400ms linear;
  -o-transition: all 400ms linear;
  transition: all 400ms linear;
}

.header_area .navbar .nav .nav-item.submenu ul .nav-item {
  display: block;
  float: none;
  margin-right: 0px;
  border-bottom: 1px solid #ededed;
  margin-left: 0px;
  -webkit-transition: all 0.4s linear;
  -o-transition: all 0.4s linear;
  transition: all 0.4s linear;
}

.header_area .navbar .nav .nav-item.submenu ul .nav-item .nav-link {
  line-height: 45px;
  color: #222222;
  padding: 0px 30px;
  -webkit-transition: all 150ms linear;
  -o-transition: all 150ms linear;
  transition: all 150ms linear;
  display: block;
  margin-right: 0px;
}

.header_area .navbar .nav .nav-item.submenu ul .nav-item:last-child {
  border-bottom: none;
}

.header_area .navbar .nav .nav-item.submenu ul .nav-item:hover .nav-link {
  background: #c5322d;
  color: #fff;
}

@media (min-width: 992px) {
  .header_area .navbar .nav .nav-item.submenu:hover ul {
    visibility: visible;
    opacity: 1;
    top: 100%;
  }
}

.header_area .navbar .nav .nav-item.submenu:hover ul .nav-item {
  margin-top: 0px;
}

.header_area .navbar .nav .nav-item:last-child {
  margin-right: 0px;
}

.header_area .navbar .nav.navbar-nav.navbar-right li {
  margin-left: 25px;
  margin-right: 0px;
}

.header_area .navbar .nav.navbar-nav.navbar-right li:first-child {
  margin-left: 35px;
}

.header_area .navbar .search {
  font-size: 14px;
  line-height: 80px;
  display: inline-block;
  color: #222222;
}

.header_area .navbar .search i {
  font-weight: 600;
}

.header_area .navbar .cart {
  color: #222222;
  font-size: 14px;
  line-height: 80px;
}

.header_area .navbar .cart i {
  font-weight: 600;
}

.header_area.navbar_fixed .main_menu {
  position: fixed;
  width: 100%;
  top: -70px;
  left: 0;
  right: 0;
  background: #110703;
  -webkit-transform: translateY(70px);
  -ms-transform: translateY(70px);
  transform: translateY(70px);
  -webkit-transition: background 500ms ease, -webkit-transform 500ms ease;
  transition: background 500ms ease, -webkit-transform 500ms ease;
  -o-transition: transform 500ms ease, background 500ms ease;
  transition: transform 500ms ease, background 500ms ease;
  transition: transform 500ms ease, background 500ms ease, -webkit-transform 500ms ease;
  -webkit-transition: transform 500ms ease, background 500ms ease;
  -webkit-box-shadow: 0px 3px 16px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 3px 16px 0px rgba(0, 0, 0, 0.1);
}

.header_area.navbar_fixed .main_menu .navbar .nav .nav-item .nav-link {
  line-height: 40px;
}

.top_menu .float-left a {
  line-height: 40px;
  color: #777777;
  font-size: 12px;
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  margin-right: 70px;
}

.top_menu .float-left a:last-child {
  margin-right: 0px;
}

.top_menu .header_social {
  margin-bottom: 0px;
}

.top_menu .header_social li {
  display: inline-block;
  margin-right: 15px;
}

.top_menu .header_social li a {
  font-size: 14px;
  color: #777777;
  display: inline-block;
  line-height: 40px;
  -webkit-transition: all 300ms linear 0s;
  -o-transition: all 300ms linear 0s;
  transition: all 300ms linear 0s;
}

.top_menu .header_social li:last-child {
  margin-right: 0px;
}

.top_menu .header_social li:hover a {
  color: #c5322d;
}

.top_menu .ac_btn {
  line-height: 28px;
  border: 1px solid #eeeeee;
  display: inline-block;
  background: #f9f9ff;
  padding: 0px 19px;
  font-size: 12px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  color: #777777;
  -webkit-transition: all 300ms linear 0s;
  -o-transition: all 300ms linear 0s;
  transition: all 300ms linear 0s;
  margin-right: 1px;
  margin-top: 8px;
}

.top_menu .ac_btn:hover {
  background: #c5322d;
  color: #fff;
  border-color: #c5322d;
}

.top_menu .dn_btn {
  line-height: 28px;
  border: 1px solid #c5322d;
  display: inline-block;
  background: #c5322d;
  padding: 0px 19px;
  font-size: 12px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  color: #fff;
  -webkit-transition: all 300ms linear 0s;
  -o-transition: all 300ms linear 0s;
  transition: all 300ms linear 0s;
  margin-top: 8px;
  border-radius: 3px;
}

.top_menu .dn_btn:hover {
  background: transparent;
  color: #222222;
  border-color: #c5322d;
}

.top_menu .lan_pack {
  height: 30px;
  border: 1px solid #eeeeee;
  border-radius: 3px;
  line-height: 28px;
  font-size: 12px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  padding-left: 19px;
  padding-right: 36px;
  color: #777777;
  background: #f9f9ff;
  margin-right: 5px;
  margin-top: 8px;
}

.top_menu .lan_pack .current {
  color: #777777;
}

.top_menu .lan_pack:after {
  content: "\f0d7";
  border: none !important;
  font: normal normal normal 12px/1 FontAwesome;
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  height: auto;
  margin-top: -6px;
  right: 20px;
}

@media (max-width:1619px){
   .header_area .navbar .search {
        margin-left: 40px;
    }
}
@media (max-width:1300px){
    
}
@media (max-width:1199px){
    .header_area .navbar .nav .nav-item {
        margin-right: 28px;
    }
}

@media (max-width:991px){
    .navbar-toggler {
        border: none;
        border-radius: 0px;
        padding: 0px;
        cursor: pointer;
        margin-top: 27px;
        margin-left: -6px;
        margin-bottom: 23px;
    }
    .header_area .navbar {
        background: #ffffff36;
    }
    .navbar-brand img{
      max-width: 90%;
    }
    .navbar-toggler[aria-expanded="false"] span:nth-child(2) {
        opacity: 1;
    }
    .navbar-toggler[aria-expanded="true"] span:nth-child(2) {
        opacity: 0;
    }
    .navbar-toggler[aria-expanded="true"] span:first-child {
        transform: rotate(-45deg);
        position: relative;
        top: 7.5px;
    }
    .navbar-toggler[aria-expanded="true"] span:last-child {
        transform: rotate(45deg);
        bottom: 6px;
        position: relative;
    }
    .navbar-toggler span{
        display: block;
        width: 25px;
        height: 3px;
        background: #ffffff;
        margin: auto;
        margin-bottom: 4px;
        transition: all 400ms linear;
        cursor: pointer;
    }
    .navbar .container{
        padding-left: 15px;
        padding-right: 15px;
    }
    .nav{
        padding: 1px 14px;
        background: #000000d1;
    }
    .header_area + section, .header_area + row, .header_area + div {
        margin-top: 117px;
    }
    .header_top .nav{
        padding: 0px;
    }
    .header_area .navbar .nav .nav-item .nav-link{
        line-height: 40px;
        margin-right: 0px;
        display: block;
        border-bottom: 1px solid #ededed33;
        border-radius: 0px;
    }
    .header_area .navbar .search{
        margin-left: 0px;
    }
    .header_area .navbar-collapse{
        max-height: 340px;
        overflow-y: scroll;
    }
    .header_area .navbar .nav .nav-item.submenu ul .nav-item .nav-link {
        padding: 0px 15px;
    }
    .header_area .navbar .nav .nav-item {
        margin-right: 0px;
    }
    .header_area + section, .header_area + row, .header_area + div {
        margin-top: 0px;
    }
    .header_area.navbar_fixed .main_menu .navbar .nav .nav-item .nav-link {
        line-height: 40px;
    }
    .header_area .navbar .nav.navbar-nav.navbar-right li:first-child {
        margin-left: 0px;
    }
    .header_area .navbar .cart {
        line-height: 40px;
    }
    .header_area .navbar .search {
        line-height: 40px;
    }
    .header_area .navbar .nav.navbar-nav.navbar-right li {
        margin-left: 0px;
    }
}


@media (max-width:575px){
    .top_menu {
        display: none;
    }
    .header_area + section, .header_area + row, .header_area + div {
        margin-top: 0px;
    }
    .slider-icons{
      display: none;
    }
}

@media (max-width:480px){
    .header_area .navbar-collapse{
        max-height: 250px;
    }
}
/*------------------------------------*\
    Header Menu Area Ens
\*------------------------------------*/

/*------------------------------------*\
    banner-Carousel-Area
\*------------------------------------*/
.banner-headline{
    font-size:3rem;
    line-height:1.2
}
.banner-words-wrapper{
    display:inline-block;
    position:relative;
    text-align:left
}
.banner-words-wrapper b{
    display:inline-block;
    position:absolute;
    white-space:nowrap;
    left:0;
    top:0
}
.banner-words-wrapper b.is-visible{
    position:relative
}
.no-js .banner-words-wrapper b{
    opacity:0
}
.no-js .banner-words-wrapper b.is-visible{
    opacity:1
}
.banner-headline.clip span{
    display:inline-block;
    padding:.2em 0;
    -webkit-text-stroke: 1px white !important;
    -webkit-text-fill-color: #fff0 !important;

}
.caption .highlight{
    color:#eb3007
}
.banner-headline.clip .banner-words-wrapper{
    overflow:hidden;
    vertical-align:top
}
.banner-headline.clip .banner-words-wrapper:after{
    content:'';
    position:absolute;
    top:10%;
    right:0;
    width:2px;
    height:70%;
    background-color:rgba(255,255,255,0.65)
}
.banner-headline.clip b{
    opacity:0
}
.banner-headline b.is-visible{
    opacity:1
}
.owl-theme .owl-dots .owl-dot span{
    width:12px;
    height:12px;
    border-radius:50%;
    background:#d5d5d5;
    margin:5px 4px 0 4px;
    border:2px solid #d5d5d5
}
.owl-theme .owl-dots .owl-dot.active span,.owl-theme .owl-dots .owl-dot:hover span{
    background:#f4c852;
    border-color:#f4c852
}
.slider .arrow,.slider-fade .arrow{
    display:none !important
}
.slider .owl-item,.slider-fade .owl-item{
    height:100vh;
    position:relative
}
.slider .item,.slider-fade .item{
    position:absolute;
    top:0;
    left:0;
    height:100%;
    width:100%;
    background-size:cover;
    background-position:center center
}
.slider .item .caption,.slider-fade .item .caption{
    width:100%;
    z-index:9
}
.slider .owl-theme .owl-dots,.slider-fade .owl-theme .owl-dots{
    position:absolute;
    bottom:1vh;
    width:100%;
    left:0
}
@media only screen and (min-width: 768px){
    .banner-headline{
        font-size:4.4rem;
        font-weight:bold
    }
}
@media only screen and (min-width: 1170px){
    .banner-headline{
        font-size:4rem
    }
}
@media screen and (max-width: 1199px){
    .small-height-align{
        min-height:80vh
    }
    .slider .owl-item,.slider-fade .owl-item{
        height:80vh
    }
}
@media screen and (max-width: 991px){
    .small-height-align{
        min-height:85vh
    }
    .slider .owl-item,.slider-fade .owl-item{
        height:85vh
    }
}
@media screen and (max-width: 767px){
    .small-height-align{
        min-height:75vh
    }
    .slider .owl-item,.slider-fade .owl-item{
        height:75vh
    }
    .small-max-height{
        max-height:70vh
    }
    .abt-h4{
      margin-top: 38px !important;
    }
    .abt-p{
      margin-top: 28px !important;
    }
}
@media screen and (max-width: 575px){
    .small-height-align{
        min-height:70vh
    }
    .slider .owl-item,.slider-fade .owl-item{
        height:70vh
    }
}
.slider-icons{
  position: relative;
    top: 0%;
    right: 0%;
    left: 0%;
    right: 0%;
    z-index: 9;
}
.slider-icons2{
    position: absolute;
    right: 5%;
    line-height: 38px;
    bottom: 100px;
    font-size: 17px;
    vertical-align: middle;
    z-index: 9;
}
.slider-icons2 i{
    color: white !important;
    font-size: 17px !important;
    transition: 0.5s;
}
.slider-icons2 i:hover{
  color: #f4c852 !important;
  transition: 0.5s;
}
.line-icon{
    border-left: 1px solid #006fb8;
    height: 75px;
    margin-left: 5px;
    margin-bottom: 20px;
}
/*------------------------------------*\
    banner-Carousel-Area-end
\*------------------------------------*/


/*------------------------------------*\
    About
\*------------------------------------*/
.abt-section {
    position: relative;
}
.md-section {
    padding-top: 35px;
    padding-bottom: 35px;
}
.abt-bg-white{
  width: 100%;
  margin-bottom: 18px;
  display: inline-block;
  padding: 13px 45px 13px 32px;
  background-color: white;
}
.abt-border{
  float: left;
  border-top: 4px solid #f4c852;
  width: 90px;
  margin: 30px 8px 0 5px;
}
.abt-h4{
    color: black;
    margin-top: 17px;
    font-size: 19px;
}
.abt-h1{
  margin-right: 15px;
  float: left;
  font-size: 80px;
  font-weight: bold;
  color: #f6f6f6;
}
.abt-p{
  color: #0000008a;
}
.abt-bg-img  {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-size: cover;
    background-position: center;
    background-attachment:fixed;
}
.abt-bg-img.abt-bg-half{
    width: 50%;
    background-attachment:scroll;
}
.abt-bg-img.abt-bg-half.bg-right {
    left: 50%;
}
.abt-bg-img.abt-overlay:after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    opacity: 0.9;
}
.abt-bg-img.abt-overlay:after {
    background-color: #FFF;
}
.abt-bg-img.abt-bg-half.abt-overlay:after {
    display: none;
}
@media only screen and (max-width: 991px) {
    .abt-bg-img.abt-bg-half.abt-overlay:after {
        display: block;
    }
    .abt-bg-img.abt-bg-half {
        width: 100%;
    }
    .abt-bg-img.abt-bg-half.bg-right {
        left: 0%;
    }
}
.abt-about {
    margin-top: 15px;
    margin-bottom: 15px;
}
.abt-about > img {
    width: 100%;
    border-bottom: 4px solid #FFD626;
}
@media (min-width: 992px){
.abt-about-offset {
    margin-left: 52.333333% !important;
}
}
/*------------------------------------*\
    About-End
\*------------------------------------*/




/*------------------------------------*\
    Box-Content
\*------------------------------------*/
.box-content{
  width: 100%;
  box-shadow: 2px 3px 17px 0 rgba(135, 135, 135, 0.12);
  padding: 20px;
  margin-bottom: 30px;
  -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}
.box-content.active{
  box-shadow: 2px 2px 15px 0 rgba(135,135,135, 0.4);
}
.box-content:hover{
  box-shadow: 2px 2px 15px 0 rgba(135,135,135, 0.4);
  transition: all 0.5s ease 0s;
}
.box-content h6{
  margin-top: 15px;
  font-size: 17px;
}
.box-content h4{
  margin-top: 17px;
  color: #006fb8;
  font-size: 22px;
}
.box-content p{
  color: #00000045;
  margin-bottom: 35px;
  margin-top: 15px;
}




/*------------------------------------*\
    Parallax
\*------------------------------------*/
.parallax-window{
  overflow: hidden;
  padding-top: 50px;
  padding-bottom: 40px;
  width: 100%;
}
.parallax-window h5{
  padding-top: 20px !important;
  color: white !important;
  font-weight: 500 !important;
}
.parallax-window h6{
  padding-bottom: 20px;
  padding-top:10px !important;
  color: white !important;
  font-size: 31px;
  font-weight: 400 !important;
}
.parallax-window span{
  font-weight: bold;
}
.parallax-window2{
  overflow: hidden;
  padding-top: 150px;
  padding-bottom: 150px;
  width: 100%;
}
/*------------------------------------*\
    Parallax End
\*------------------------------------*/




/*----------------------------------------*/
/*  Client
/*----------------------------------------*/
/* Slider */
.slick-slide {
    margin: 0px 20px;
}

.slick-slide img {
    width: 100%;
}

.slick-slider
{
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
            user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;
    display: block;
}
.slick-track:before,
.slick-track:after
{
    display: table;
    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;
    height: auto;
    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}
/*----------------------------------------*/
/*  Client-End
/*----------------------------------------*/




/*----------------------------------------*/
/*  Map-End
/*----------------------------------------*/
.map-home{
  margin-bottom: -10px;
}
/*----------------------------------------*/
/*  Map-End
/*----------------------------------------*/




/*----------------------------------------*/
/*  Contact
/*----------------------------------------*/
.home_contact{
  width: 100%;
    background-color: #f8f8f8;
    padding: 22px 5px 55px 25px;
    color: black;
    border: none;
    border-radius: 5px;
    margin-bottom: 20px;
}
.contact_home_icon{
    color: #006fb8;
    font-size: 40px !important;
    border: 1px #f4c852 solid;
    padding: 15px 0px 0px 0px;
    text-align: center;
    border-radius: 50%;
    width: 72px;
    height: 72px;
    margin-right: 40px;
}
/*----------------------------------------*/
/*  Contact-End
/*----------------------------------------*/




/*----------------------------------------*/
/*  testimonial
/*----------------------------------------*/
.main-testimonial{
padding: 50px;
}
    .testimonials-wrap {
      padding: 40px 0;
    }
    .heading-section {
      text-align: center;
    }
    .sub-heading {
      font-family: 'Lato', sans-serif;
        font-size: 12px;
        display: block;
        font-weight: 600;
        color: #2e9ca1;
        text-transform: uppercase;
        letter-spacing: 2px;
    }
    .heading-section h2 {
      font-size: 28px;
        font-weight: 600;
        padding-top: 10px;
        padding-bottom: 15px;
    }
    .testimonial-box {
        display: block;
        position: relative;
        padding: 40px 20px;
        background: #fff;
        border: 1px solid rgba(0,0,0,.03);
        border-radius: 5px;
        box-shadow: 0 0 20px rgba(0, 0, 0, .08);
        border-bottom: #006fb8 solid 4px;
       transition: 1s;
    }

.testimonial-box:hover{
  transform: scale(1.1);  
}

    .user-img {
        width: 80px;
        height: 80px;
        border-radius: 50%;
        position: relative;
      min-width: 80px;
      background-size: 100%;
    }
    .carousel-testimonial .item {
      padding: 30px 10px;
    }
    .quote {
      position: absolute;
        top: -23px;
        color: #2e9da1;
        font-size: 27px;
    }
    .name {
      margin-bottom: 0;
        line-height: 14px;
        font-size: 17px;
        font-weight: 500;
    }
    .position {
      color: #adadad;
      font-size: 14px;
    }
    .carousel-testimonial .owl-nav {
      text-align: center;
        
       
    }
.carousel-testimonial .owl-nav button.owl-prev{
        left: -25px;
    position: absolute;
    top: 20%;
    transform: translateY(-50%);

}
.carousel-testimonial .owl-nav button.owl-next{
        right: -25px;
    position: absolute;
    top: 20%;
    transform: translateY(-50%);

}
    .carousel-testimonial .owl-nav button.owl-next, 
    .carousel-testimonial .owl-nav button.owl-prev {
        padding: 0 12px !important;
    }
    .carousel-testimonial .owl-nav button {
      outline: none;
      padding: 0;
    }
    .carousel-testimonial .owl-nav button.owl-next span, 
    .carousel-testimonial .owl-nav button.owl-prev span {
      display: block;
        font-size: 86px;
        width: 25px;
        height: 25px;
        vertical-align: 0px;
        line-height: 16px;
    }
    .carousel-testimonial .owl-nav button.owl-next.disabled, 
    .carousel-testimonial .owl-nav button.owl-prev.disabled {
      opacity: 0.5;
    }
/*----------------------------------------*/
/*  testimonial End
/*----------------------------------------*/



/*----------------------------------------*/
/*  Contact End
/*----------------------------------------*/
.contact-sec{
  display: block;
  width: 100%;
  height: 120px;
}
.contact-sec img{
  float: left;
  margin-right: 40px;
}
@media (max-width:575px){
    .contact-home{
      margin-top: 50px;
    }
}

/*----------------------------------------*/
/*  Contact End
/*----------------------------------------*/




/*------------------------------------*\
    About-Banner-End 
\*------------------------------------*/
.hero-banner-2 {
  height: 400px;
  width: 100%;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.hero-banner-2 .hero-overlay-2 {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #0000007a;
  position: relative;
}
.hero-banner-2 .hero-overlay-2 .hero-heading-2 {
  position: absolute;
  top: 55%;
  font-size: 50px;
  margin: 0 10%;
  color: white;
  font-weight: bolder;
}
.hero-banner-2 .hero-overlay-2 .hero-small-2 {
  position: absolute;
  top: 70%;
  font-size: 19px;
  margin: 0 10%;
  color: white !important;
  font-weight: 100;
}
.hero-banner-2 .hero-overlay-2 .hero-small-2 span {
  color: #f4c852;
}
.hero-banner-2 .hero-overlay-2 img {
  position: absolute;
  bottom: 40%;
}
/*------------------------------------*\
    About-Banner-End 
\*------------------------------------*/


/*------------------------------------*\
    About Vision & Mission End
\*------------------------------------*/
.abt-vision{
  margin-bottom: 20px;
  width: 100%;
  background: white;
  height: auto;
  box-shadow: 2px 2px 26px 0 rgba(135, 135, 135, 0.18);
  transition: all 0.5s ease 0s;
}
.abt-vision:hover{
  transition: all 0.5s ease 0s;
  box-shadow: 2px 2px 26px 0 rgba(135, 135, 135, 0.32);
}
.abt-vision h6{
  font-size: 20px;
  color: #006fb8 !important;
}
.abt-vision p{
    color: #00000045;
    padding: 21px;
}
.abt-vision i{
    height: 50px;
    width: 50px;
    font-size: 30px;
    margin-bottom: 16px;
    color: #00000045;
    border: 1px #f4c852 solid;
    border-radius: 50px;
    padding: 9px 0px 0px 0px;
    box-shadow: 2px 3px 17px 0 rgba(135, 135, 135, 0.12);
}
/*------------------------------------*\
    About Vision & Mission End
\*------------------------------------*/



/*------------------------------------*\
    Footer-area-End
\*------------------------------------*/
.footer-area{
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.94), rgba(0, 0, 0, 0.95)),url(../img/footer.jpg);
    height: auto;
    padding-top: 100px;
    padding-bottom: 20px;
    background-size: cover;
    overflow: hidden;
    background-position: center;
    background-attachment: fixed;
}
.footer-area-sec h6{
    font-size: 18px;
    font-weight: 400;
    color: white !important;
}
.footer-area-icons i{
    font-size: 17px;
    color: white;
    margin-right: 10px;
}
.footer-area-icons i:hover{
    color: #f4c852;
}
.footer-area-sec p{
  font-size: 13px;
    color: #ffffffc9 !important;
}
.footer-area-sec-border{
  margin-top: 15px;
  border-bottom: 1px solid #ffffff4f;
}
.footer-area-sec-copyright p{
  margin-top: 25px;
  color: #ffffffbf  !important;
}
/*------------------------------------*\
    Footer-area-End
\*------------------------------------*/



/*------------------------------------*\
    Footer-main
\*------------------------------------*/
.footer-sec h6{
    font-size: 18px;
    font-weight: 400;
    color: white !important;
}
.footer-sec p{
  font-size: 13px;
    color: #ffffffc9 !important;
}
.footer-icons i{
    font-size: 17px;
    color: white;
    margin-right: 10px;
}
.footer-icons i:hover{
    color: #f4c852;
}
.border-ftr{
  border-bottom: 1px solid #ffffff4f;
}
.copyright p{
  margin-top: 25px;
  color: #ffffffbf  !important;
}
/*------------------------------------*\
    Footer-main-End
\*------------------------------------*/





/*------------------------------------*\
    Services
\*------------------------------------*/
.services-page{
  margin-bottom: 100px;
}
.service-box{
  margin-bottom: 50px;
  background: #006fb8;
}
.service-box h1{
    text-align: center;
    font-size: 21px;
    font-weight: 500;
    color: black;
    padding-bottom: 15px;
}
.service-box h4{
    text-align: center;
    font-size: 21px;
    font-weight: 500;
    color: white;
    padding-bottom: 25px;
    padding-top: 15px;
}
.service-frame {
  text-align: center; 
  position: relative;
  cursor: pointer;  
  perspective: 500px; 
}
.service-frame img {
  border-radius: 0 0 80px 0;
  width: 100%;
  height: 100%;
}
.service-frame .service-details {
  width: 70%;
  height: 80%;  
  padding: 5% 8%;
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotateY(90deg);
  transform-origin: 50%;
  background: rgba(255,255,255,0.9);  
  opacity: 0;
  transition: all 0.4s ease-in;
  
}
.service-frame:hover .service-details {
  transform: translate(-50%, -50%) rotateY(0deg);
  opacity: 1;
}
/*------------------------------------*\
    Services-End
\*------------------------------------*/










.testi-blk{
    height: 100vh;
}

.customer-logos .slick-prev {
    position: absolute;
    background-image: 
    left: -50px;
    top: 50%;
    transform: translateY(-50%);
    
}
.customer-logos .slick-next {
    position: absolute;
    right: -50px;
    top: 50%;
    transform: translateY(-50%);
    
}